body{
    margin-top:20px;
    /* background-image: url($setting->background ?? "https://cdn.pixabay.com/photo/2016/07/12/11/44/face-1511873_960_720.jpg"); */
    background-image: url("/../images/bg_body.jpg");
    background-size: cover;
    background-position: center center;
    /*overflow: hidden;*/

}
.account-block {
    padding: 0;
    /*background-image: url(https://cdn.pixabay.com/photo/2015/03/03/08/55/portrait-657116_960_720.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}
.bg-purple{
    background-color: #9b2486;
}
.text-purple{
    color: #9b2486;
}

.is_invalid{
    border: 1px solid red;
}
