body{
    background-image: url("https://cdn.pixabay.com/photo/2017/11/12/22/50/human-2944064_960_720.jpg");
    background-size:cover;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
.bg-purple{
    background-color: #9b2486;
}
.text-purple{
    color: #9b2486;
}
